<footer class="footer block-dark mt-n15 mt-lg-n30">

    <div class="h-150px h-lg-225px bgi-no-repeat bgi-position-x-center bgi-position-y-top bgi-size-cover dark-top-curved-bg"></div>

    <div class="container mt-n15">
        <div class="rowfooter">
            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Products</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Pro Templates</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Free Templates</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Developer6669</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Learn</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">All Tutorials</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Metronic Tutorials</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Keen Tutorials</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Blog &amp; News</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Hire Experts</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Resources</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">FAQs</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Support</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Contact Us</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Affiliate Program</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">General</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">License Terms</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Privacy Policy</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Terms &amp; Conditions</a>
                        <a href="" class="text-dark-60 text-hover-primary py-2 py-lg-3">Refund Policy</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Stay Connected</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="#"
                           class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            Facebook
                        </a>
                        <a href="#"
                           class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            Twitter
                        </a>
                        <a href="#"
                           class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            Dribbble
                        </a>
                        <a href="#"
                           class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            Instagram
                        </a>
                        <a href="#"
                           class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_speed_247610277"></div>

    <div class="container py-5 py-lg-10">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
            <div class="d-flex align-items-center mr-md-2 order-2 order-md-1">

                <a href="" class="mr-3 mr-md-6">
                    <img alt="logo"
                         src="https://res.cloudinary.com/dcyzg2k36/image/upload/v1670208464/NH__S_CH_VIOLET_free-file_evi4oe.png"
                         class="h-20px h-md-25px">
                </a>

                <span class="font-size-2 font-weight-bold text-dark-60 pt-1" href="#">
						© 2022  TranDatK
					</span>

            </div>

            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center order-1 order-md-2 mb-5 mb-md-0">
                <div class="font-size-2 font-weight-bold text-dark-60 mb-5 mb-md-0">
                    Mọi thắc mắc vui lòng liên hệ <a href="#" target="_blank"
                                                     class="text-dark-50 text-hover-primary"></a> tại:
                    2051050098dat@ou.edu.vn
                </div>

                <div class="ml-4">

                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--<div class="mt-4 p-5 bg-light text-black rounded">-->
<!--  <h1>E-commerce Website</h1>-->
<!--  <p>Duong Huu Thanh &copy; 2022</p>-->
<!--</div>-->